@()(implicit request: RequestHeader, flash: Flash)

@main("React Testing"){
    <div id="contents">Version 4 Running</div>

    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="validateRoute" value="@routes.TaskList4.validate">
    <input type="hidden" id="createRoute" value="@routes.TaskList4.createUser">
    <input type="hidden" id="logoutRoute" value="@routes.TaskList4.logout">

    <div id="react-root"></div>
    <script src="@routes.Assets.versioned("javascript/version4.js")"></script>
}