/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

span {
  color: #410E3B;
}

/* Onboarding section styling */
#onboarding-section {
    background-color: white;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Onboarding form header */
#onboarding-section h1 {
    color: #410E3B;
}

#bioInput {
    height: auto;
    max-height: 40px;
}

/* Form element styling */
input[type="text"],
input[type="password"],
button {
    color: #410E3B;
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
  color: #410E3B;
  width: calc(100%);
  padding: 10px;
  padding-right: 13px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button specific styling */
button {
    background-color: #410E3B;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #60335B;
}

#yearContainer {
  display: flex;
  justify-content: center;
}
.yearButton {
  width: fit-content;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 10px;

}

/* Small screen / responsive adjustments */
@media (max-width: 768px) {
    #onboarding-section {
        margin: 20px;
    }
}
